<div role="main" class="main">

				<section class="page-top">
					<div class="container">
						
						<div class="row">
							<div class="col-md-12">
								<h1>About Andres Manuel Lopez Obrador</h1>
							</div>
						</div>
					</div>
				</section>

				<div class="container">

					<div class="row">
						<div class="col-md-4">
								<div>
									<div class="thumbnail">
										<img alt="" height="300" class="img-responsive" src="/images/Pro/andres.jpg">
									</div>
								</div>
							

						</div>

						<div class="col-md-8">

							<h2 class="shorter">Andres <strong>Manuel</strong></h2>
							<h4>President</h4>

							<span class="thumb-info-social-icons">
								<a data-tooltip data-placement="bottom" target="_blank" href="http://www.facebook.com" data-original-title="Facebook"><i class="fa fa-facebook"></i><span>Facebook</span></a>
								<a data-tooltip data-placement="bottom" href="http://www.twitter.com" data-original-title="Twitter"><i class="fa fa-twitter"></i><span>Twitter</span></a>
								<a data-tooltip data-placement="bottom" href="http://www.linkedin.com" data-original-title="Linkedin"><i class="fa fa-linkedin"></i><span>Linkedin</span></a>
							</span>

							<p>Andrés Manuel López Obrador, often referred to as AMLO, is a Mexican politician who served as the President of Mexico from December 1, 2018, to the present day. He was born on November 13, 1953, in Tepetitán, Tabasco, Mexico.</p>

							<ul class="list icons list-unstyled">
								<li><i class="fa fa-check"></i> Everyone's grandfather.</li>
								<li><i class="fa fa-check"></i> The president currently in power.</li>
								<li><i class="fa fa-check"></i> Santa Claus is going to bring more years of life to this old man.</li>
							</ul>

						</div>
					</div>

			

					

				</div>
				

</div>