<div class="container">
  <div class="row">
    <div
      class="col-md-12"
      style="display: flex;
    justify-content: center;
    align-items: center;"
    >
      <div class="row featured-boxes login">
        <div style="width: 598.133px;">
          <div class="featured-box featured-box-secundary default info-content">
            <div class="box-content">
              <h4>LOGIN</h4>
              <form action="" id="" method="post">
                <div class="row">
                  <div class="form-group">
                    <div class="col-md-12">
                      <label>E-mail Address</label>
                      <input
                        type="text"
                        value=""
                        class="form-control input-lg"
                        name="username"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group">
                    <div class="col-md-12">
                      <a class="pull-right" href="#">(Lost Password?)</a>
                      <label>Password</label>
                      <input
                        type="password"
                        value=""
                        class="form-control input-lg"
                        name="password"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <span class="remember-box checkbox">
                      <label for="rememberme">
                        <input
                          type="checkbox"
                          id="rememberme"
                          name="rememberme"
                        />Remember Me
                      </label>
                    </span>
                  </div>
                  <div class="col-md-6" style="justify-content: center; align-items: center;">
                    <input type="submit" value="Login" class="btn btn-primary pull-right push-bottom" data-loading-text="Loading..."/>

                    <a class="btn btn-primary pull-right push-bottom col-xs-4" href="/adduser">Register</a>
                    
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>